altgraph==0.17.4
importlib-metadata==8.5.0
packaging==24.1
pefile==2024.8.26
pillow==10.4.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pystray==0.19.5
pywin32-ctypes==0.2.3
six==1.16.0
zipp==3.20.1
